/* --------------------------------- General Styles --------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: #eef0f4;
  user-select: none;
  text-align: center;
}

/* --------------------------------- Loader --------------------------------- */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid rgba(172, 72, 90, 0.2);
  border-top: 6px solid #ac485a;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------------------- Navbar --------------------------------- */
.navbar {
  background-color: #ac485a;
  padding: 20px 10px; /* Slightly increased padding for a taller navbar */
}
.navbar img {
  width: 400px;
}

/* --------------------------------- Task Controls --------------------------------- */
.task-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.task-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

#task-progress {
  padding: 8px;
  font-size: 16px;
  color: #432000;
  background-color: #dce1eb;
  border: none;
  border-radius: 8px;
  text-align: center;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-btn img {
  width: 40px;
}

/* --------------------------------- Task List --------------------------------- */
#task-list {
  position: relative;
  margin: 20px auto;
  width: 55%;
  min-height: 900px;
  text-align: left;
  background-color: #fffdf8;
  padding: 20px;
  border-radius: 0;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2),
    -4px -4px 15px rgba(255, 255, 255, 0.5);
}

.no-tasks-message {
  position: absolute;
  top: 20%; /* Move it higher */
  left: 50%;
  transform: translate(-50%, -20%); /* Adjust translation to keep it centered */
  font-size: 2rem;
  opacity: 70%;
  color: rgba(44, 43, 43, 0.5);
  pointer-events: none;
  text-align: center;
  font-family: "Arial", sans-serif;
}

/* --------------------------------- Task Card --------------------------------- */
.task {
  width: 85%;
  border: 1px solid rgba(172, 72, 90, 0.5);
  padding: 15px;
  margin: 10px auto;
  background: #fffdf8;
  color: #432000;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  text-align: center;
}

.task:hover {
  transform: scale(1.02);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.task-list.disabled-hover .task {
  pointer-events: none;
}

/* --------------------------------- Modal --------------------------------- */
#task-modal,
#edit-task-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fffdf8;
  padding: 30px;
  border-radius: 10px;
  width: 370px;
  text-align: left;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.modal-content label,
.modal-content select,
.modal-content input {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}

/* --------------------------------- Form Inputs --------------------------------- */
input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 8px; /* Spacing between inputs */
  color: #432000;
  background-color: #dce1eb;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  box-sizing: border-box;
}

input {
  height: 48px;
}

select {
  height: 48px;
}

/* --------------------------------- Buttons --------------------------------- */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 18px;
  color: #fdfdfd;
  background-color: #ac485a;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  width: 100%;
}

button:hover {
  transform: translateY(-2px);
}

#add-task-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.8;
}

#add-task-btn img {
  width: 24px;
  height: 24px;
  opacity: 0.9;
}

#add-task-btn:active {
  opacity: 1; /* Remove transparency when clicked */
}

#task-progress {
  padding: 10px;
  font-size: 15px;
  color: #432000;
  background-color: #cfd5e0;
  border: none;
  border-radius: 8px;
  text-align: center;
  min-width: 170px;
  appearance: none;
  cursor: pointer;
}

#task-progress:focus {
  outline: none;
  background-color: #dee0e3;
}

#task-progress option {
  background: #fffdf8;
  color: #432000;
  padding: 6px;
}

/* --------------------------------- Animations --------------------------------- */
.quick-fade-in {
  animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
